@using Chess.Web.Components;

@page "/test/example"

<h1>This is an example page</h1>

<p>It contains the ExampleComponent. It has a two-way binding with the parent (this page).</p>

<p>Counter is: @Count</p>

<ExampleComponent Incrementation="10" @bind-Count=@Count />