.field {
    width: 5rem;
    height: 5rem;
    position: relative;
    display: flex;
    float: left;
}

.dark-field {
    background-color: darkblue;
    color: lightgrey;
}

.light-field {
    background-color: lightgrey;
}

.fileText {
    position: absolute;
    right: 0;
    bottom: 0;
}