<div class="@BgClasses @DropClasses"
     ondragover="event.preventDefault()"
     ondragstart="event.dataTransfer.setData('', event.target.pieceid);"
     @ondrop="HandleDropAsync">

    @if(@ShowRank)
    {
        <div class="rankText m-1">@Rank</div>
    }

    @if(@ShowFile)
    {
        <div class="fileText m-1">@File.ToString()</div>
    }

    @ChildContent
</div>