<div class=@HtmlClasses>
    @if(@ShowRank)
    {
        <div class="rankText m-1">@Rank</div>
    }

    @if(@ShowFile)
    {
        <div class="fileText m-1">@File.ToString()</div>
    }

    @ChildContent
</div>