@page "/"
@using Chess.Web.Components

<PageTitle>Chess Club</PageTitle>

<h1>Welcome to the Chess Club</h1>

<p>Welcome to your new app.</p>

<br/>

<h2>Identity Access Token</h2>
<br/>
@AccessToken
<br/>

<h2>API response</h2>
<code>
    @PlayerApiResponse
</code>