@page "/match/overview"

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-sm btn-primary float-end" href="/match/setup"> New Match </a>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover p-1">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">White</th>
                        <th scope="col">Black</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Matches.Count; i++)
                    {
                        <tr>
                            <th scope="row">@(i + 1)</th>
                            <td>@Matches[i].WhitePlayerId</td>
                            <td>@Matches[i].BlackPlayerId</td>
                            <td>@Matches[i].StartTime.ToString("u")</td>
                            <td><a class="btn btn-sm btn-outline-primary" href="/match/board/@Matches[i].AggregateId">View</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>