@using Chess.Domain.ValueObjects;
@using Chess.Web.Components.Piece
@using Chess.Web.Components.Status

@page "/match/board/{AggregateId:guid}"

<MudGrid Class="px-5 pt-4 d-flex flex-wrap">
    <MudItem sm="12" md="8">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <div class="board">
                <CascadingValue Value="this">

                    @for (int i = 1; i < 9; i++)
                        @for (int j = 1; j < 9; j++)
                        {
                            var piece = @SelectPiece(i, j);

                            <FieldComponent Rank=i File=(File)j>
                                @if (@piece != null)
                                {
                                    <PieceComponent PieceId="@piece.Id" Color="@piece.Color" Type="@piece.Type" />
                                }
                            </FieldComponent>
                        }

                </CascadingValue>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" md="4">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <StatusComponent Model="Status" />
        </MudPaper>

        <MudDivider/>

        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 overflow-auto" MaxHeight="50vh" >
            <MudTimeline Reverse="true">
                <MudTimelineItem>
                    <MudText>Item A</MudText>
                </MudTimelineItem>
                <MudTimelineItem>
                    <MudText Align="Align.End">Item B</MudText>
                </MudTimelineItem>
                <MudTimelineItem>
                    <MudText>Item C</MudText>
                </MudTimelineItem>
                <MudTimelineItem>
                    <MudText Align="Align.End">Item D</MudText>
                </MudTimelineItem>
                <MudTimelineItem>
                    <MudText>Item E</MudText>
                </MudTimelineItem>
            </MudTimeline>
        </MudPaper>
    </MudItem>
</MudGrid>

