@page "/match/setup"
<div class="card">
  <div class="card-body">
    <EditForm Model="Setup">
      <div class="mb-3 row">
        <label for="memberOne" class="col-sm-2 col-form-label">Member One</label>
        <div class="col-sm-10">
          <InputText id="memberOne" class="form-control" @bind-Value=Setup.MemberOne placeholder="00000000-0000-0000-0000-000000000000"/>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="memberTwo" class="col-sm-2 col-form-label">Member Two</label>
        <div class="col-sm-10">
          <InputText id="memberTwo" class="form-control" @bind-Value=Setup.MemberTwo placeholder="00000000-0000-0000-0000-000000000000"/>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="drawByRepition" class="col-sm-2 col-form-label">Turn Time</label>
        <div class="col-sm-10">
          <InputDate id="maxTurnTime" Type="InputDateType.Time" class="form-control" @bind-Value=Setup.MaxTurnTime />
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <InputCheckbox id="drawByRepition" readonly class="form-control-input" @bind-Value=Setup.DrawByRepition />
          <label class="form-check-label" for="defaultCheck1">
            Draw by Repitition
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary float-end" @onclick="(() => NavigateToBoard())">Start Match</button>
      </div>
    </EditForm>
  </div>
</div>