
.piece {
    height: 100%;
    width: 100%;
}
.white-king {
    background: url('./svg/pieces-sprite.svg#white-king');
}

.black-king {
    background: url('./svg/pieces-sprite.svg#black-king');
}
.white-queen {
    background: url('./svg/pieces-sprite.svg#white-queen');
}

.black-queen {
    background: url('./svg/pieces-sprite.svg#black-queen');
}

.white-bishop {
    background: url('./svg/pieces-sprite.svg#white-bishop');
}

.black-bishop {
    background: url('./svg/pieces-sprite.svg#black-bishop');
}

.white-rook {
    background: url('./svg/pieces-sprite.svg#white-rook');
}

.black-rook {
    background: url('./svg/pieces-sprite.svg#black-rook');
}

.white-knight {
    background: url('./svg/pieces-sprite.svg#white-knight');
}

.black-knight {
    background: url('./svg/pieces-sprite.svg#black-knight');
}

.white-pawn {
    background: url('./svg/pieces-sprite.svg#white-pawn');
}

.black-pawn {
    background: url('./svg/pieces-sprite.svg#black-pawn');
}